<!DOCTYPE html>
<html lang='en'>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Our Journey</title>
        <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    </head>
    <body>
        <div class="container">
            <h1>My Heart</h1>
            <p>Dear Zombie,</p>
            <p>The truth is, i'm obsessed with you 🥴. Why? Because you make me feel something that I never thought I could.
                I have never wanted to see someone smile so much. I can watch you laugh for the rest of my life.
                I know you are my best friend, I don't know if you can ever see me as more than that, oh God, I hope so.
                I just want to be with you, make you happy, build each other, build an empire together, fall in love, 
                make love and live a life of adventure with you. Every minute I spend with you is magical, even just a 
                simple conversation feels like magic. I know am bit boring and am a work in progress but i'm loyal, faithful,
                ambitious, and i love 100%. I always keep my word and I promise to never make you sad if you give me a chance.
                So, my lady, push the button...
            </p>
            <a href="/proposal">Next</a>
        </div>
    </body>
</html>